<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base_mobile :: common_header(~{::title},_)">
<meta charset="UTF-8">
<title>customer-information</title>

</head>

<body>
	<div class="easyui-layout" id="customer-information-mobile-layout" style="width: 100%; height: 100%;">
		<div data-options="region:'west', split:true, title:'客户'" style="width: 100%;">
			<script type="text/javascript">
				var seleted_department_node = null;

				function refresh() {
					if (seleted_department_node == null)
						return;

					$('#customer-tree').tree('reload',
							seleted_department_node.target);
				}
			</script>

			<ul id="customer-tree" class="easyui-tree"
				data-options="
				url : '/salesman/load-all-customer-tree',
				onSelect: function(node) {
					if(node.state == 'closed')
						$('#customer-tree').tree('expand', node.target);
					else
						$('#customer-tree').tree('collapse', node.target);
						
					if(node['type'] == 'DEPARTMENT') {
					
						var parent = $('#customer-tree').tree('getParent', node.target);
						
						$('#company').val(parent['id']);
						$('#department').val(node['id']);
						
						$('#company-name').textbox('setText', parent['text']);
						$('#department-name').textbox('setText', node['text']);
						
						seleted_department_node = node;
					} else if(node['type'] == 'CONTACT') {
						var customer = node['customer'];
						$('#customer-information-form').form('load', customer);
						
						$('#company').val(customer['company']['id']);
						$('#department').val(customer['department']['id']);
						
						$('#company-name').textbox('setText', customer['company']['name']);
						$('#department-name').textbox('setText', customer['department']['name']);
						
						var parent = $('#customer-tree').tree('getParent', node.target);
						
						seleted_department_node = parent;
						
						if (customer['isPrimary'] == true) {
							document.getElementById('customer-information-primary').checked = true
						} else {
							document.getElementById('customer-information-primary').checked = false
						}
												
						$('#customer-information-mobile-layout').layout('collapse', 'west');
					}
				}, 
				
				onDblClick: function(node) {
				
					if(node.state == 'closed')
						$('#customer-tree').tree('expand', node.target);
					else
						$('#customer-tree').tree('collapse', node.target);
				}
			">
			</ul>
		</div>

		<div data-options="region:'center',split:true,title:'详细信息'" style="width: 100%;">
			<div class="easyui-panel" style="width: 90%; margin-left: auto; margin-right: auto;" align="left" data-options="border:false">

				<form id="customer-information-form" method="post">
					<div style="padding: 10px 0px 0px 20px">
						<input type="hidden" name="id"></input>
						<input id='company' type="hidden" name="company"></input>
						<input id='department' type="hidden" name="department"></input>

						<div style="margin-bottom: 10px">
							<span>姓名:</span>
							<input class="easyui-textbox" type="text" name="name" data-options="required:true"></input>
						</div>

						<div style="margin-bottom: 10px">
							<span>性别:</span>
							<input class="easyui-combobox" name=sex
								data-options="
										required:true,
										valueField: 'id',
										textField: 'name',
										method: 'get',
										url: '/common/loadAllSysSex',
													    
										onLoadSuccess: function () { 
											var val = $(this).combobox('getData'); 
											for (var item in val[0]) {  
												if (item == 'id') {  
													$(this).combobox('select', val[0][item]);  
												}  
											}  
										}
														
									" />
						</div>

						<div style="margin-bottom: 10px">
							<span>公司:</span>
							<input id='company-name' class="easyui-textbox" data-options="
										editable: false,
										required: true									
									" />
						</div>

						<div style="margin-bottom: 10px">
							<span>职责:</span>
							<input class="easyui-combobox" name=duty
								data-options="
										required:true,
										valueField: 'id',
										textField: 'name',
										method: 'get',
										url: '/common/loadAllSysDuty',
													    
										onLoadSuccess: function () { 
											var val = $(this).combobox('getData'); 
											for (var item in val[0]) {  
												if (item == 'id') {  
													$(this).combobox('select', val[0][item]);  
												}  
											}  
										}
														
									" />
						</div>

						<div style="margin-bottom: 10px">
							<span>部门:</span>
							<input id='department-name' class="easyui-textbox" data-options="
										editable: false,
										required: true									
									" />
						</div>

						<div style="margin-bottom: 10px">
							<span>固话:</span>
							<input class="easyui-textbox" type="text" name="officePhone" data-options="required:true"></input>
						</div>

						<div style="margin-bottom: 10px">
							<span>手机:</span>
							<input class="easyui-textbox" type="text" name="phone" data-options="required:true"></input>
						</div>

						<div style="margin-bottom: 10px">
							<span>传真:</span>
							<input class="easyui-textbox" type="text" name="fax" data-options="required:true"></input>
						</div>

						<div style="margin-bottom: 10px">
							<span>邮件:</span>
							<input class="easyui-textbox" type="text" name="email" data-options="required:true,validType:'email'"></input>
						</div>

						<div style="margin-bottom: 10px">
							<span>地址:</span>
							<input class="easyui-textbox" name="address" style="height: 60px" data-options="
										multiline:true,
										required: true									
									"></input>
						</div>

						<div style="margin-bottom: 10px">
							<span>主管:</span>
							<input id="customer-information-primary" type="checkbox" name="isPrimary" value=1>
						</div>
					</div>
				</form>

				<div style="margin-left: 20px; margin-right: auto; margin-top: 10px">
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="modify_customer_information_form()">修改</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="add_customer_information_form()">添加</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="clear_customer_information_form()">重置</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="removeit_customer_information_form()">删除</a>
				</div>


			</div>



			<script>
				function modify_customer_information_form() {

					$('#customer-information-form').form('submit', {
						type : 'POST',
						url : '/salesman/modCustomer',
						onSubmit : function() {
							return $(this).form('validate');
						},
						success : function(result) {
							if (result == 'success') {
								refresh();
								$.messager.show({
									title : '成功',
									msg : '修改成功',
									showType : 'show'
								});
							} else {
								$.messager.show({
									title : '失败',
									msg : '修改失败',
									showType : 'show'
								});
							}

						}
					});
				}

				function add_customer_information_form() {
					$('#customer-information-form').form('submit', {
						type : 'POST',
						url : '/salesman/addCustomer',
						onSubmit : function() {
							return $(this).form('validate');
						},
						success : function(result) {
							if (result == 'success') {
								refresh();
								$.messager.show({
									title : '成功',
									msg : '添加成功',
									showType : 'show'
								});
								
								$('#customer-information-mobile-layout').layout('expand', 'west');
							} else {
								$.messager.show({
									title : '失败',
									msg : '添加失败',
									showType : 'show'
								});
							}

						}
					});
				}
				function clear_customer_information_form() {
					$('#customer-information-form').form('clear');
				}
				function removeit_customer_information_form() {

					$('#customer-information-form').form('submit', {
						type : 'POST',
						url : '/salesman/delCustomer',
						onSubmit : function() {
							return $(this).form('validate');
						},
						success : function(result) {
							if (result == 'success') {
								refresh();
								$('#customer-information-form').form('clear');
								$.messager.show({
									title : '成功',
									msg : '删除成功',
									showType : 'show'
								});
								$('#customer-information-mobile-layout').layout('expand', 'west');
							} else {
								$.messager.show({
									title : '失败',
									msg : '删除失败',
									showType : 'show'
								});
							}

						}
					});
				}
			</script>
		</div>


	</div>
</body>
</html>