<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<title>inventory application grid</title>
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/mobile.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/css/main_mobile.css">
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.easyui.mobile.js"></script>
<script type="text/javascript">

var customers = [(${customers})];
var inventories = [(${inventories})];

</script>
</head>

<body>
	<div class="easyui-panel" title="详细信息" data-options="iconCls:'icon-ok',tools:'#tb'">
		<div class="easyui-panel" th:each="i, stat : ${inventoryRecords}">
			<label>ID： </label>
			<span th:utext="${i.id}">101</span><br>
			<label>资&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产： </label>
			<span th:utext="${i.inventory.name}"></span><br>
			<label>数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量： </label>
			<span th:utext="${i.count}"></span><br>
			<label>申请人员： </label>
			<span th:utext="${i.proposer.name}"></span><br>
			<label>申请时间： </label>
			<span th:utext="${i.timeApplication}"></span><br>
			<label>审批人员： </label>
			<span th:utext="${i.approver==null} ? ' ' : ${i.approver.name}"></span><br>
			<label>批复时间： </label>
			<span th:utext="${i.timeApproach == null}? '' : ${i.timeApproach}"></span><br>
			<label>类&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型： </label>
			<span th:text="${i.type.name}"></span><br>
			<label>状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态： </label>
			<span th:text="${i.state.name}"></span><br>
		</div>
	</div>


	<div id="tb">
		<a href="#" class="icon-add" onclick="add_inventory_application()"></a>
		<script type="text/javascript">
			function add_inventory_application() {
				$('#inventory-application-win').window('open');
			}
		</script>
	</div>

	<div id="inventory-application-win" class="easyui-dialog" title="详细信息" style="height: 460px; margin-left: auto; margin-right: auto;" align="left" data-options="closed:true">

		<form id="inventory-application-form" method="post">
			<div style="height: 100%; padding: 20px 0px 0px 20px">

				<input type="hidden" name="id"></input>
				<input type="hidden" name="company" th:value="${company.id}"></input>
				<input type="hidden" name="department" th:value="${department.id}"></input>
				<input type="hidden" name="project" th:value="${project.id}"></input>

				<div style="margin-bottom: 10px">
					<span>公司:</span>
					<input th:value="${company.name}" style="width: 90%;" class="easyui-textbox" data-options="
										editable: false,
										required: true									
									" />
				</div>

				<div style="margin-bottom: 10px">
					<span>部门:</span>
					<input th:value="${department.name}" style="width: 90%;" class="easyui-textbox" data-options="
										editable: false,
										required: true									
									" />
				</div>

				<div style="margin-bottom: 10px">
					<span>项目:</span>
					<input th:value="${project.name}" style="width: 90%;" class="easyui-textbox" data-options="
										editable: false,
										required: true									
									" />
				</div>

				<div style="margin-bottom: 10px">
					<span>联系人:</span>
					<input class="easyui-combobox" style="width: 90%;" name="customer" data-options="
											required:true,
											valueField: 'id',
											textField: 'name',
											editable: false,
											data: customers
							" />
				</div>

				<div style="margin-bottom: 10px">
					<span>资产:</span>
					<input class="easyui-combobox" style="width: 90%;" name="inventory" data-options="
											required:true,
											valueField: 'id',
											textField: 'name',
											editable: false,
											data: inventories
							" />
				</div>

				<div style="margin-bottom: 10px">
					<span>数量:</span>
					<input class="easyui-numberbox" style="width: 90%;" name="count" required="required" value="0" data-options="min:0.00,precision:2" />

				</div>
				
			</div>
		</form>

		<div style="margin-left: 40px; margin-bottom: 10px">
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="add_inventory_application_form()">确定</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="clear_inventory_application_form()">关闭</a>
		</div>

		<script>
			function verify_inventory_application_form() {
				return true;
			}

			function add_inventory_application_form() {
				if (verify_inventory_application_form() == false) {
					return;
				}

				$('#inventory-application-form').form('submit', {
					type : 'POST',
					url : '/salesman/add-inventory-application',
					onSubmit : function() {
						return $(this).form('validate');
					},
					success : function(result) {
						if (result == 'success') {
							$('#inventory-application-win').window('close');

							window.location.reload();

							$.messager.show({
								title : '成功',
								msg : '添加成功',
								showType : 'show'
							});
						} else {
							$.messager.show({
								title : '失败',
								msg : '添加失败',
								showType : 'show'
							});
						}

					}
				});
			}

			function clear_inventory_application_form() {
				$('#inventory-application-win').window('close');
			}
		</script>
	</div>
</body>
</html>