<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base_mobile :: common_header(~{::title},_)">
<meta charset="UTF-8">
<title>project</title>
</head>

<body>
	<div class="easyui-layout" id="project-mobile-layout" style="width: 100%; height: 100%;">
		<div data-options="region:'west', split:true, title:'客户'" style="width: 100%;">
			<script type="text/javascript">
				var seleted_department_node = null;

				function refresh() {
					if (seleted_department_node == null)
						return;

					$('#project-tree').tree('reload',
							seleted_department_node.target);
				}
			</script>

			<ul id="project-tree" class="easyui-tree"
				data-options="
				url : '/salesman/load-all-project-tree',
				onSelect: function(node) {
					if(node.state == 'closed')
						$('#project-tree').tree('expand', node.target);
					else
						$('#project-tree').tree('collapse', node.target);
						
					if(node['type'] == 'DEPARTMENT') {
					
						var parent = $('#project-tree').tree('getParent', node.target);
						
						$('#project-form-company').val(parent['id']);
						$('#project-form-department').val(node['id']);
						
						$('#project-form-company-name').textbox('setText', parent['text']);
						$('#project-form-department-name').textbox('setText', node['text']);
						
						seleted_department_node = node;
						
						var url = '/salesman/loadAllCustomer/'+node['id'];
   						$('#project-form-customer-combobox').combobox('reload', url);
					} else if(node['type'] == 'CONTACT') {
						var attributes = node['attributes'];
						$('#project-form').form('load', attributes);
						
						$('#project-form-company').val(attributes['company']['id']);
						$('#project-form-department').val(attributes['department']['id']);
						
						$('#project-form-company-name').textbox('setText', attributes['company']['name']);
						$('#project-form-department-name').textbox('setText', attributes['department']['name']);
						
						var parent = $('#project-tree').tree('getParent', node.target);
						
						seleted_department_node = parent;
						var url = '/salesman/loadAllCustomer/'+attributes['department']['id'];
   						$('#project-form-customer-combobox').combobox('reload', url);
   						
   						$('#project-mobile-layout').layout('collapse', 'west');
					}
				}, 
				
				onDblClick: function(node) {
				
					if(node.state == 'closed')
						$('#project-tree').tree('expand', node.target);
					else
						$('#project-tree').tree('collapse', node.target);
				}
			">
			</ul>
		</div>

		<div data-options="region:'center',split:true,title:'详细信息'" style="width: 100%;">
			<div class="easyui-panel" style="width: 90%; margin-left: auto; margin-right: auto;" align="left" data-options="border:false">

				<form id="project-form" method="post">
					<div style="padding: 10px 0px 0px 20px">

						<input type="hidden" name="id"></input>
						<input id='project-form-company' type="hidden" name="company"></input>
						<input id='project-form-department' type="hidden" name="department"></input>

						<div style="margin-bottom: 10px">
							<span>名称:</span>
							<input class="easyui-textbox" style="width: 90%" name="name" data-options="required:true"></input>
						</div>

						<div style="margin-bottom: 10px">
							<span>主题:</span>
							<input class="easyui-textbox" style="width: 90%" name="subject" data-options="required:true"></input>
						</div>

						<div style="margin-bottom: 10px">
							<span>公司:</span>
							<input id='project-form-company-name' class="easyui-textbox" style="width: 90%" data-options="
										editable: false,
										required: true									
									" />
						</div>

						<div style="margin-bottom: 10px">
							<span>部门:</span>
							<input id='project-form-department-name' class="easyui-textbox" style="width: 90%" data-options="
										editable: false,
										required: true									
									" />
						</div>

						<div style="margin-bottom: 10px">
							<span>联系人:</span>
							<input id='project-form-customer-combobox' class="easyui-combobox" style="width: 90%" name="customer"
								data-options="
											required:true,
											valueField: 'id',
											textField: 'name',
											method: 'get'											
									" />
						</div>

						<div style="margin-bottom: 10px">
							<span>状态:</span>
							<input class="easyui-combobox" name="state" style="width: 90%"
								data-options="
											required:true,
											valueField: 'id',
											textField: 'name',
											method: 'get',
											url: '/common/loadAllSysProjectState',
										    
										    onLoadSuccess: function () { 
										    	var val = $(this).combobox('getData'); 
										    	for (var item in val[0]) {  
				                                    if (item == 'id') {  
				                                        $(this).combobox('select', val[0][item]);  
				                                    }  
				                                }  
										    }
											
									" />
						</div>

						<div style="margin-bottom: 10px">
							<span>金额(单位:元):</span>
							<input name="money" class="easyui-numberbox" required="required" value="0" style="width: 90%" data-options="min:0.00,precision:2">
						</div>

						<div style="margin-bottom: 10px">
							<span>赢单时间:</span>
							<input id='stop-datetimebox' class="easyui-datebox" style="width: 90%" name="timeToSuccess" value="aaa"
								data-options="
											required:true,
											formatter: function (date) { 
												var y = date.getFullYear();
												var m = date.getMonth()+1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
												var d = date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate();
												return y+'-'+m+'-'+d;
											},
											
											parser: function (s) { 
												var t = Date.parse(s);
												if (!isNaN(t)){
													return new Date(t);
												} else {
													return new Date();
												}
											}
										" />
						</div>

						<div style="margin-bottom: 10px">
							<span>可能性:</span>
							<input name="probability" class="easyui-numberspinner" style="width: 90%" required="required" value="0" data-options="min:0,max:100,suffix:'%'">
						</div>

						<div style="margin-bottom: 10px">
							<span>内容:</span>
							<input class="easyui-textbox" name="content" style="height: 80px; width: 90%" data-options="
												required:true,
												multiline:true
												" />
						</div>
					</div>
				</form>

				<div style="margin-left: 20px; margin-bottom: 10px; margin-top: 10px">
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="modify_project_form()">修改</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="add_project_form()">添加</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="clear_project_form()">重置</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-remove'" onclick="removeit_project_form()">删除</a>
				</div>
			</div>

			<script>
				function verify_project_form() {
					return true;
				}

				function modify_project_form() {
					if (verify_project_form() == false) {
						return;
					}

					$('#project-form').form('submit', {
						type : 'POST',
						url : '/salesman/modProject',
						onSubmit : function() {
							return $(this).form('validate');
						},
						success : function(result) {
							if (result == 'success') {
								refresh();

								$.messager.show({
									title : '成功',
									msg : '修改成功',
									showType : 'show'
								});
							} else {
								$.messager.show({
									title : '失败',
									msg : '修改失败',
									showType : 'show'
								});
							}

						}
					});
				}

				function add_project_form() {
					if (verify_project_form() == false) {
						return;
					}

					$('#project-form').form(
							'submit',
							{
								type : 'POST',
								url : '/salesman/addProject',
								onSubmit : function() {
									return $(this).form('validate');
								},
								success : function(result) {
									if (result == 'success') {
										refresh();

										$.messager.show({
											title : '成功',
											msg : '添加成功',
											showType : 'show'
										});

										$('#project-mobile-layout').layout(
												'expand', 'west');
									} else {
										$.messager.show({
											title : '失败',
											msg : '添加失败',
											showType : 'show'
										});
									}

								}
							});
				}

				function clear_project_form() {
					$('#project-form').form('clear');
				}

				function removeit_project_form() {

					$('#project-form').form(
							'submit',
							{
								type : 'POST',
								url : '/salesman/delProject',
								onSubmit : function() {
									return $(this).form('validate');
								},
								success : function(result) {
									if (result == 'success') {
										refresh();

										$('#ff').form('clear');
										$.messager.show({
											title : '成功',
											msg : '删除成功',
											showType : 'show'
										});

										$('#project-mobile-layout').layout(
												'expand', 'west');
									} else {
										$.messager.show({
											title : '失败',
											msg : '删除失败',
											showType : 'show'
										});
									}

								}
							});
				}
			</script>
		</div>
	</div>

</body>
</html>