<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base_mobile :: common_header(~{::title},_)">
<meta charset="UTF-8">
<title>technical application</title>
</head>

<body>
	<div class="easyui-layout" id="technical-application-mobile-layout" style="width: 100%; height: 100%;">
		<div data-options="region:'west', split:true, title:'项目'" style="width: 100%;">

			<script type="text/javascript">
				var seleted_department_node = null;

				function refresh() {
					if (seleted_department_node == null)
						return;

					$('#technical-application-tree').tree('reload',
							seleted_department_node.target);
				}
			</script>

			<ul id="technical-application-tree" class="easyui-tree"
				data-options="
				url : '/salesman/load-all-project-tree',
				onSelect: function(node) {
					if(node.state == 'closed')
						$('#technical-application-tree').tree('expand', node.target);
					else
						$('#technical-application-tree').tree('collapse', node.target);
						
					if(node['type'] == 'DEPARTMENT') {
					
						var parent = $('#technical-application-tree').tree('getParent', node.target);
						
						$('#company').val(parent['id']);
						$('#department').val(node['id']);
						
						$('#company-name').textbox('setText', parent['text']);
						$('#department-name').textbox('setText', node['text']);
						
						seleted_department_node = node;
					} else if(node['type'] == 'CONTACT') {
						var attributes = node['attributes'];
						$('#project-form').form('load', attributes);
						
						$('#company').val(attributes['company']['id']);
						$('#department').val(attributes['department']['id']);
						
						$('#company-name').textbox('setText', attributes['company']['name']);
						$('#department-name').textbox('setText', attributes['department']['name']);
						
						var parent = $('#technical-application-tree').tree('getParent', node.target);
						
						seleted_department_node = parent;
						
						$('#technical-application-frame').attr(
							'src',
							'/salesman/technical-application-grid?projectId='
									+ node['attributes']['id'] + '&departmentId=' + attributes['department']['id']);
									
						$('#technical-application-mobile-layout').layout('collapse', 'west');
					}
				}, 
				
				onDblClick: function(node) {
				
					if(node.state == 'closed')
						$('#technical-application-tree').tree('expand', node.target);
					else
						$('#technical-application-tree').tree('collapse', node.target);
				}
			">
			</ul>
		</div>

		<div style="width: 100%;" data-options="region:'center',split:true">
			<iframe id="technical-application-frame" name="technical-application-frame" style="width: 100%; height: 95%; border: 0; position: absolute"></iframe>
		</div>


	</div>


</body>
</html>