<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta charset="UTF-8">
<title>technical application grid</title>

<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/mobile.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/icon.css">
<link rel="stylesheet" type="text/css" href="/css/main_mobile.css">
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.easyui.mobile.js"></script>
</head>

<body>

	<script type="text/javascript">
		var c= [(${customers})];
	</script>

	<div class="easyui-panel" title="详细信息" data-options="iconCls:'icon-ok',tools:'#tb'">
		<div class="easyui-panel" th:each="t, stat : ${technicalApplications}">
			<label>ID： </label>
			<span th:utext="${t.id}">101</span><br>
			<label>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label>
			<span th:utext="${t.name}">aaaa</span><br>
			<label>项&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;目： </label>
			<span th:utext="${t.project.name}"></span><br>
			<label>联&nbsp;&nbsp;系&nbsp;人： </label>
			<span th:utext="${t.customer.name}"></span><br>
			<label>电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话： </label>
			<span th:utext="${t.customer.phone}"></span><br>
			<label>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址： </label>
			<span th:utext="${t.customer.address}"></span><br>
			<label>开&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;时： </label>
			<span th:utext="${t.startTime}"></span><br>
			<label>结&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;束： </label>
			<span th:utext="${t.startTime}"></span> <br>
			<label>报告类型： </label>
			<span th:utext="${t.sysReportType.name}"></span> <br>
			<label>技&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;术： </label>
			<span th:utext="${t.technicist} ? ${t.technicist.name}:无"></span><br>
			<label>属&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性： </label>
			<span th:utext="${t.type.name}"></span><br>

			<ul th:if="${t.sysReportType.id != 1}">
				<li th:each="r, stat : ${t.reports}">
					<div>
						<a th:href="'/salesman/data/'+${r.id}" th:utext="${r.filename}">aaa.xls</a>
					</div>
				</li>
			</ul>

			<div th:if="${t.sysReportType.id == 1}">
				<span>无</span>
			</div>
		</div>
	</div>

	<div id="tb">
		<a href="#" class="icon-add" onclick="add_technical_application()"></a>
		<script type="text/javascript">
			function add_technical_application() {
				$('#technical-application-win').window('open');
			}
		</script>
	</div>

	<div id="technical-application-win" class="easyui-dialog" title="详细信息" style="height: 350px; margin-left: auto; margin-right: auto;" align="left" data-options="closed:true">

		<form id="technical-application-form" method="post">
			<div style="height: 100%; padding: 10px 10px 10px 20px">

				<input type="hidden" name="id"></input>
				<input type="hidden" name="project" th:value="${project.id}"></input>
				<div style="margin-bottom: 10px">
					<span>名称:</span>
					<input style="width: 100%;" class="easyui-textbox" name="name" />
				</div>

				<div style="margin-bottom: 10px">
					<span>项目:</span>
					<input style="width: 100%;" class="easyui-textbox" name="project-name" th:value="${project.name}" />
				</div>

				<div style="margin-bottom: 10px">
					<span>客户:</span>
					<input id='customer-combobox' style="width: 100%;" class="easyui-combobox" name="customer"
						data-options="
											editable:false,
											required:true,
											valueField: 'id',
											textField: 'name',
											data: c,
										    
										    onSelect: function(record) {										    	
										    	$('#phone').textbox('setValue', record['phone']);
										    	$('#officePhone').textbox('setValue', record['officePhone']);
										    	$('#fax').textbox('setValue', record['fax']);
										    	$('#email').textbox('setValue', record['email']);
										    	$('#address').textbox('setValue', record['address']);
										    }
											
									" />
				</div>

				<div style="margin-bottom: 10px">
					<span>手机:</span>
					<input id='phone' style="width: 100%;" class="easyui-textbox" data-options="readonly:true" />
				</div>

				<div style="margin-bottom: 10px">
					<span>固话:</span>
					<input id='officePhone' style="width: 100%;" class="easyui-textbox" data-options="readonly:true" />
				</div>

				<div style="margin-bottom: 10px">
					<span>传真:</span>
					<input id='fax' style="width: 100%;" class="easyui-textbox" data-options="readonly:true" />
				</div>

				<div style="margin-bottom: 10px">
					<span>邮件:</span>
					<input id='email' style="width: 100%;" class="easyui-textbox" data-options="readonly:true" />
				</div>

				<div style="margin-bottom: 10px">
					<span>地址:</span>
					<input id='address' style="width: 100%;" class="easyui-textbox" data-options="readonly:true" />
				</div>

				<div style="margin-bottom: 10px">
					<span>开始:</span>
					<input id='stop-datetimebox' style="width: 100%;" class="easyui-datebox" name="startTime" value="aaa"
						data-options="
											required:true,
											formatter: function (date) { 
												var y = date.getFullYear();
												var m = date.getMonth()+1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
												var d = date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate();
												return y+'-'+m+'-'+d;
											},
											
											parser: function (s) { 
												var t = Date.parse(s);
												if (!isNaN(t)){
													return new Date(t);
												} else {
													return new Date();
												}
											}
										" />
				</div>

				<div style="margin-bottom: 10px">
					<span>结束:</span>
					<input id='stop-datetimebox' style="width: 100%;" class="easyui-datebox" name="stopTime" value="aaa"
						data-options="
									required:true,
									formatter: function (date) { 
												var y = date.getFullYear();
												var m = date.getMonth()+1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1;
												var d = date.getDate() < 10 ? '0' + (date.getDate()) : date.getDate();
												return y+'-'+m+'-'+d;
											},
											
											parser: function (s) { 
												var t = Date.parse(s);
												if (!isNaN(t)){
													return new Date(t);
												} else {
													return new Date();
												}
											}
										" />
				</div>

				<div style="margin-bottom: 10px">
					<span>报告:</span>
					<input class="easyui-combobox" style="width: 100%;" name="sysReportType"
						data-options="
											editable:false,
											required:true,
											valueField: 'id',
											textField: 'name',
											method: 'get',
											url: '/common/loadAllSysReportType',
										    
										    onLoadSuccess: function () { 
										    	var val = $(this).combobox('getData'); 
										    	for (var item in val[0]) {  
				                                    if (item == 'id') {  
				                                        $(this).combobox('select', val[0][item]);  
				                                    }  
				                                }  
										    }
									" />
				</div>


				<div style="margin-bottom: 10px">
					<span>技术:</span>
					<input class="easyui-combobox" style="width: 100%;" name="technicist"
						data-options="
											editable:false,
											required:true,
											valueField: 'id',
											textField: 'name',
											method: 'get',
											url: '/salesman/loadAllTechnicist',
										    
										    onLoadSuccess: function () { 
										    	var val = $(this).combobox('getData'); 
										    	for (var item in val[0]) {  
				                                    if (item == 'userId') {  
				                                        $(this).combobox('select', val[0][item]);  
				                                    }  
				                                }  
										    }
									" />
				</div>
				
				<div style="margin-bottom: 10px">
					<span>属性:</span>
					<input class="easyui-combobox" style="width: 100%;" name="type"
								data-options="
											editable:false,
											required:true,
											valueField: 'id',
											textField: 'name',
											method: 'get',
											url: '/common/loadAllSysTechnicalApplicationType',
										    
										    onLoadSuccess: function () { 
										    	var val = $(this).combobox('getData'); 
										    	for (var item in val[0]) {  
				                                    if (item == 'id') {  
				                                        $(this).combobox('select', val[0][item]);  
				                                    }  
				                                }  
										    }
									" />
				</div>
				
				<div style="margin-bottom: 10px">
					<span>属性:</span>
					<input class="easyui-combobox" style="width: 100%;" name="type"
								data-options="
											editable:false,
											required:true,
											valueField: 'id',
											textField: 'name',
											method: 'get',
											url: '/common/loadAllSysTechnicalApplicationType',
										    
										    onLoadSuccess: function () { 
										    	var val = $(this).combobox('getData'); 
										    	for (var item in val[0]) {  
				                                    if (item == 'id') {  
				                                        $(this).combobox('select', val[0][item]);  
				                                    }  
				                                }  
										    }
									" />
				</div>
			</div>
		</form>

		<div style="margin-left: 30px; margin-bottom: 10px">
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="add_technical_application_win()">确定</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="clear_technical_application_win()">关闭</a>
		</div>

		<script>
			function verify_technical_application_win() {
				return true;
			}

			function add_technical_application_win() {
				if (verify_technical_application_win() == false) {
					return;
				}

				$('#technical-application-form').form('submit', {
					type : 'POST',
					url : '/salesman/add-technical-application',
					onSubmit : function() {
						return $(this).form('validate');
					},
					success : function(result) {
						if (result == 'success') {
							$('#technical-application-win').window('close');

							window.location.reload();

							$.messager.show({
								title : '成功',
								msg : '添加成功',
								showType : 'show'
							});
						} else {
							$.messager.show({
								title : '失败',
								msg : '添加失败',
								showType : 'show'
							});
						}

					}
				});
			}

			function clear_technical_application_win() {
				$('#technical-application-form').form('clear');
				$('#technical-application-win').window('close');
			}
		</script>
	</div>
</body>
</html>