<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base_mobile :: common_header(~{::title},_)">
<meta charset="UTF-8">
<title>inventory-application</title>
</head>

<body>

	<table id="inventory-table-application" class="easyui-datagrid" title="库存" style="width: 100%;"
		data-options="
					singleSelect:true,
					url:'/technicist/loadAllInventory',
					method:'get',
					onClickRow:onClickRow,
					toolbar: '#inventory-table-toolbar'
				">
		<thead>
			<tr>
				<th data-options="field:'id',width:40">ID</th>
				<th data-options="field:'name',width:150">名称</th>
			</tr>
		</thead>
	</table>

	<script>
		function onClickRow(rowIndex, rowData) {
			$('#inventory-table-application-win').window('open');
			$('#technical-application-frame').attr(
					'src',
					'/technicist/inventory-application-grid?id='
							+ rowData["id"]);
		}
	</script>

	<div id="inventory-table-application-win" class="easyui-dialog" title="详细信息" style="height: 400px; width: 100%; margin-left: auto; margin-right: auto;" align="left"
		data-options="closed:true,
					toolbar:[{
						text:'关闭',
						iconCls:'icon-cancel',
						handler:function(){
							$('#inventory-table-application-win').window('close');
						}
					}]
		
		">
		<iframe id="technical-application-frame" name="technical-application-frame" style="width: 100%; height: 100%; border: 0; position: absolute"></iframe>
	</div>
</body>
</html>