<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base_mobile :: common_header(~{::title},_)">
<meta charset="UTF-8">
<title>inventory</title>
</head>

<body>

	<div class="easyui-panel" title="资产">
		<div class="easyui-panel" style="padding: 5px;">
			<a target="inventory-frame" href="/technicist/inventory-add" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add'">添加</a>
			<a target="inventory-frame" href="/technicist/inventory-application" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-reload'">审批</a>
		</div>

		<div>
			<iframe id="inventory-frame" name="inventory-frame" style="width: 100%; height: 95%; border: 0; position: absolute"></iframe>
		</div>
	</div>


</body>
</html>