
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base_mobile :: common_header(~{::title},_)">
<title th:text="#{company.name} + #{app.version}">login</title>
</head>
<body>
	<div style="margin: 0 auto; width: 295px" align="center">

		<div class="easyui-panel" style="width: 100%" data-options="border:false">
			<div >
				<form id="PasswordModify" method="post">
					<div style="text-align: center; padding: 5px">
						<input class="easyui-passwordbox" id="newPassword" name="newPassword" data-options="prompt:'新密码'" style="width: 100%; height: 38px">
					</div>

					<div style="text-align: center; padding: 5px">
						<input class="easyui-passwordbox" id="confirmPassword" name="confirmPassword" data-options="prompt:'确认新密码'" style="width: 100%; height: 38px">
					</div>		
				</form>
				<div style="text-align: center; padding: 20px">
					<a class="easyui-linkbutton" iconCls="icon-ok" onclick="submitForm2()">修改</a>
					<a class="easyui-linkbutton" iconCls="icon-cancel" onclick="clearForm2()">取消</a>
				</div>

				<div style="text-align: center; margin-top: 30px">
					<p id="showMsg_password_mod" class="error"></p>
				</div>

				<script type="text/javascript">
					function submitForm2() {
						if ($("input[name='newPassword']").val() == "") {
							$("#showMsg_password_mod").html("新密码为空，请输入");
						} else if ($("input[name='confirmPassword']").val() == "") {
							$("#showMsg_password_mod").html("确认密码为空，请输入");
						} else if ($("input[name='confirmPassword']").val() != $("input[name='newPassword']").val()) {
							$("#showMsg_password_mod").html("新密码两次输入不一致");
							$("#newPassword").focus();
							$("#confirmPassword").textbox('clear');
							$("#newPassword").textbox('clear');
						} else {
							$('#PasswordModify').form('submit', {
								type : 'POST',
								url : '/common/modify-password',
								onSubmit : function() {
									return $(this).form('validate');
								},
								success : function(result) {
									if (result == 'success') {
										$.messager.show({
											title : '成功',
											msg : '修改成功',
											showType : 'show'
										});
										$('#password-modify-win').window('close')
									} else {
										$.messager.show({
											title : '失败',
											msg : result,
											showType : 'show'
										});
									}

								}
							});
							
						}
						
					}

					function clearForm2() {
						$('#PasswordModify').form('clear');
						$('#password-modify-win').window('close')
					}
				</script>
			</div>
		</div>
	</div>
	<script>
		
		function submitForm() {
			if ($("input[name='username']").val() == "") {
				$("#showMsg_password_mod").html("<ul><li>用户名为空，请输入</li></ul>");
			} else if ($("input[name='password']").val() == "") {
				$("#showMsg_password_mod").html("<ul><li>密码为空，请输入</li></ul>");
			} else if ($("input[name='newPassword']").val() == "") {
				$("#showMsg_password_mod").html("<ul><li>新密码为空，请输入</li></ul>");
			} else if ($("input[name='confirmPassword']").val() == "") {
				$("#showMsg_password_mod").html("<ul><li>确认密码为空，请输入</li></ul>");
			} else if ($("input[name='confirmPassword']").val() != $("input[name='newPassword']").val()) {
				$("#showMsg_password_mod").html("<ul><li>新密码两次输入不一致</li></ul>");
				$("#newPassword").focus();
				$("#confirmPassword").textbox('clear');
				$("#newPassword").textbox('clear');
			} else {
				$('#PasswordModify').submit();
			}
		}

	</script>
</body>
</html>