<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="base2 :: common_header(~{::title},_)">
<meta charset="UTF-8">
<title>inventory-add</title>
</head>

<body>
	<div class="easyui-layout" style="width: 100%; height: 100%;">
		<div data-options="region:'west',split:true" style="width: 25%;">

			<table id="inventory-table" class="easyui-datagrid" title="库存" style="width: 100%; height: 100%"
				data-options="
					singleSelect:true,
					url:'/technicist/loadAllInventory',
					method:'get',
					onClickRow:onClickRow
				">
				<thead>
					<tr>
						<th data-options="field:'id',width:40">ID</th>
						<th data-options="field:'name',width:150">名称</th>
					</tr>
				</thead>
			</table>

			<script>
				function onClickRow(rowIndex, rowData) {
					$('#inventory-form').form('load', rowData);
				}
			</script>
		</div>
		<div data-options="region:'center',split:true" style="width: 75%;">
			<div class="easyui-panel" title="详细信息" style="width: 70%; height: 100%; margin-left: auto; margin-right: auto;" align="left" data-options="border:false, fit:true">

				<form id="inventory-form" method="post">
					<div style="width: 400px; padding: 10px 10px 10px 60px">

						<input type="hidden" name="id"></input>

						<table>

							<tr>
								<td>名称:</td>
								<td>
									<input class="easyui-textbox" style="width: 100%;" name="name" data-options="required:true"></input>
								</td>
							</tr>

							<tr>
								<td>品牌:</td>
								<td>
									<input class="easyui-textbox" style="width: 100%;" name="trademark" data-options="required:true"></input>
								</td>
							</tr>

							<tr>
								<td>数量:</td>
								<td>
									<input name="count" class="easyui-numberbox" required="required" value="0" data-options="min:0.00,precision:2">
								</td>
							</tr>

							<tr>
								<td>类型:</td>
								<td>
									<input class="easyui-combobox" name="type"
										data-options="
											required:true,
											valueField: 'id',
											textField: 'name',
											method: 'get',
											url: '/common/loadAllSysInventoryType',
										    
										    onLoadSuccess: function () { 
										    	var val = $(this).combobox('getData'); 
										    	for (var item in val[0]) {  
				                                    if (item == 'id') {  
				                                        $(this).combobox('select', val[0][item]);  
				                                    }  
				                                }  
										    }
											
									" />
								</td>
							</tr>
						</table>
					</div>
				</form>

				<div style="margin-left: 60px; margin-right: auto; margin-top: 10px">
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" onclick="modify_inventory_form()">修改</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-add'" onclick="add_inventory_form()">添加</a>
					<a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" onclick="clear_inventory_form()">重置</a>
				</div>
			</div>

			<script>
				function verify_inventory_form() {
					return true;
				}

				function modify_inventory_form() {
					if (verify_inventory_form() == false) {
						return;
					}

					$('#inventory-form').form('submit', {
						type : 'POST',
						url : '/technicist/modInventory',
						onSubmit : function() {
							return $(this).form('validate');
						},
						success : function(result) {
							if (result == 'success') {
								$('#inventory-table').datagrid('reload');

								$.messager.show({
									title : '成功',
									msg : '修改成功',
									showType : 'show'
								});
							} else {
								$.messager.show({
									title : '失败',
									msg : '修改失败',
									showType : 'show'
								});
							}

						}
					});
				}

				function add_inventory_form() {
					if (verify_inventory_form() == false) {
						return;
					}

					$('#inventory-form').form('submit', {
						type : 'POST',
						url : '/technicist/addInventory',
						onSubmit : function() {
							return $(this).form('validate');
						},
						success : function(result) {
							if (result == 'success') {
								$('#inventory-table').datagrid('reload');

								$.messager.show({
									title : '成功',
									msg : '添加成功',
									showType : 'show'
								});
							} else {
								$.messager.show({
									title : '失败',
									msg : '添加失败',
									showType : 'show'
								});
							}

						}
					});
				}

				function clear_inventory_form() {
					$('#inventory-form').form('clear');
				}

				function removeit_inventory_form() {

					$('#inventory-form').form('submit', {
						type : 'POST',
						url : '/technicist/delInventory',
						onSubmit : function() {
							return $(this).form('validate');
						},
						success : function(result) {
							if (result == 'success') {
								$('#inventory-table').datagrid('reload');
								$.messager.show({
									title : '成功',
									msg : '删除成功',
									showType : 'show'
								});
							} else {
								$.messager.show({
									title : '失败',
									msg : '删除失败',
									showType : 'show'
								});
							}

						}
					});
				}
			</script>
		</div>
	</div>

</body>
</html>