<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="base_mobile :: common_header(~{::title},_)">
<title th:text="#{company.name} + #{app.version}">XXX管理系统</title>
</head>
<body>
	<div class="easyui-navpanel">
		<header>
			<div class="m-toolbar">
				<div th:insert="base_mobile :: header" style="width: 100%; margin-left: auto; margin-right: auto"></div>
			</div>
		</header>
		
		<div class="easyui-tabs" style="width: 100%; height: 100%" data-options="fit:true,border:false,pill:true,justified:true,tabWidth:80,tabHeight:35">
				<div sec:authorize="hasRole('ROLE_ADMIN')" title="系统用户" data-options="href:'/admin/system-user'" style="padding: 3px"></div>
				<div sec:authorize="hasRole('ROLE_ADMIN')" title="系统工具" data-options="href:'/admin/system-tools'" style="padding: 3px"></div>

				<div sec:authorize="hasRole('ROLE_SALESMAN')" title="客户信息" data-options="href:'/salesman/company'" style="padding: 3px"></div>
				<div sec:authorize="hasRole('ROLE_SALESMAN')" title="联系人" data-options="href:'/salesman/customer-information'" style="padding: 3px"></div>
				<div sec:authorize="hasRole('ROLE_SALESMAN')" title="项目管理" data-options="href:'/salesman/project'" style="padding: 3px"></div>
				<div sec:authorize="hasRole('ROLE_SALESMAN')" title="技术申请" data-options="href:'/salesman/technical-application'" style="padding: 3px"></div>
				<div sec:authorize="hasRole('ROLE_SALESMAN')" title="活动管理" data-options="href:'/salesman/event'" style="padding: 3px"></div>
				<div sec:authorize="hasRole('ROLE_SALESMAN')" title="资产申请" data-options="href:'/salesman/inventory-application'" style="padding: 3px"></div>

				<div sec:authorize="hasRole('ROLE_TECHNICIST')" title="技术申请" data-options="href:'/technicist/technical-application'" style="padding: 3px"></div>
				<div sec:authorize="hasRole('ROLE_TECHNICIST')" title="库存管理" data-options="href:'/technicist/inventory'" style="padding: 3px"></div>
			</div>
	</div>
</body>
</html>