<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title th:text="#{company.name} + #{app.version}">login</title>
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/default/easyui.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/mobile.css">
<link rel="stylesheet" type="text/css" href="/jquery-easyui-1.5.5.6/themes/icon.css">
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/jquery-easyui-1.5.5.6/jquery.easyui.mobile.js"></script>

<script type="text/javascript">
	// 写入cookie
	function setCookies(name, value) {
		//此 cookie 将被保存 30 天
		var Days = 30;
		var expdate = new Date();
		expdate.setTime(expdate.getTime() + Days * 24 * 60 * 60 * 1000);
		document.cookie = name + "=" + escape(value) + ";expires="
				+ expdate.toGMTString();
	}

	// 读取cookie
	function getCookies(name) {
		var arr = document.cookie.match(new RegExp("(^| )" + name
				+ "=([^;]*)(;|$)"));
		if (arr != null)
			return unescape(arr[2]);
		else
			return null;
	}

	// 删除cookie
	function deleteCookies(name) {
		var date = new Date();
		date.setTime(date.getTime() - 10000);
		document.cookie = name + "=a; expires=" + date.toGMTString();
	}

	//登录事件
	function remember_login() {
		try {
			if (true == true) {
				setCookies("business_cookie_user", document
						.getElementById("txtName").value);
				setCookies("business_cookie_pass", document
						.getElementById("txtPassword").value);
				setCookies("business_cookie_check", "yes");
			} else {
				deleteCookies("business_cookie_user");
				deleteCookies("business_cookie_pass");
				deleteCookies("business_cookie_check");
				setCookies("business_cooki");
			}
		} catch (e) {
		}
		;
	}

	window.onload = function() {
		$('#username').textbox('setValue', getCookies("business_cookie_user"));
		$('#password').textbox('setValue', getCookies("business_cookie_pass"));
	}
</script>
</head>
<body>
	<div class="easyui-navpanel">
		<header>
			<div class="m-toolbar">
				<span class="m-title" th:text="#{company.name}">Login to System</span>
			</div>
		</header>
		<div style="margin: 20px 0;"></div>
		<div style="padding: 0 20px">
			<form id="UserLogin" th:action="@{/login}" method="post">
				<div style="margin-bottom: 10px">
					<input class="easyui-textbox" id="username" name="username" data-options="prompt:'用户',iconCls:'icon-man'" style="width: 100%; height: 38px">
				</div>
				<div>
					<input class="easyui-passwordbox" id="password" name="password" data-options="prompt:'密码'" style="width: 100%; height: 38px">
				</div>
			</form>
			<div style="text-align: center; margin-top: 30px">
				<a href="#" class="easyui-linkbutton" iconCls="icon-ok" style="width: 100px; height: 40px" onclick="submitForm()">
					<span style="font-size: 16px">登陆</span>
				</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" style="width: 100px; height: 40px" onclick="clearForm()">
					<span style="font-size: 16px">重置</span>
				</a>
			</div>
		</div>
	</div>
	
	<script>
		function submitForm() {
			if ($("input[name='username']").val() == ""
					|| $("input[name='password']").val() == "") {
				$("#showMsg").html("<ul><li>用户名或密码为空，请输入</li></ul>");
				$("input[name='username']").focus();
			} else {
				remember_login();
				$('#UserLogin').submit();
			}
		}
		function clearForm() {
			$('#UserLogin').form('clear');
		}
	</script>
</body>
</html>
