<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<table th:fragment="add-contact">
		<input type="hidden" name="contactId" />
		<tr>
			<td>姓名:</td>
			<td>
				<input class="easyui-textbox" type="text" name="name" data-options="required:true"></input>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>性别:</td>
			<td>
				<input class="easyui-combobox" name=sex
					data-options="
							required:true,
							valueField: 'id',
							textField: 'name',
							method: 'get',
							url: '/common/loadAllSysSex',
										    
							onLoadSuccess: function () { 
								var val = $(this).combobox('getData'); 
								for (var item in val[0]) {  
									if (item == 'id') {  
										$(this).combobox('select', val[0][item]);  
									}  
								}  
							}
											
						" />
			</td>
		</tr>

		<tr>
			<td>部门:</td>
			<td>
				<input class="easyui-combobox" name=department
					data-options="
							required:true,
							valueField: 'id',
							textField: 'name',
							method: 'get',
							url: '/common/loadAllSysDepartment',
										    
							onLoadSuccess: function () { 
								var val = $(this).combobox('getData'); 
								for (var item in val[0]) {  
									if (item == 'id') {  
										$(this).combobox('select', val[0][item]);  
									}  
								}  
							}
											
						" />
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>职责:</td>
			<td>
				<input class="easyui-combobox" name=duty
					data-options="
							required:true,
							valueField: 'id',
							textField: 'name',
							method: 'get',
							url: '/common/loadAllSysDuty',
										    
							onLoadSuccess: function () { 
								var val = $(this).combobox('getData'); 
								for (var item in val[0]) {  
									if (item == 'id') {  
										$(this).combobox('select', val[0][item]);  
									}  
								}  
							}
											
						" />
			</td>
		</tr>

		<tr>
			<td>固话:</td>
			<td>
				<input class="easyui-textbox" type="text" name="officePhone" data-options="required:true"></input>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>手机:</td>
			<td>
				<input class="easyui-textbox" type="text" name="phone" data-options="required:true"></input>
			</td>
		</tr>

		<tr>
			<td>传真:</td>
			<td>
				<input class="easyui-textbox" type="text" name="fax" data-options="required:true"></input>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>邮件:</td>
			<td>
				<input class="easyui-textbox" type="text" name="email" data-options="required:true,validType:'email'"></input>
			</td>
		</tr>
		<tr>
			<td>地址:</td>
			<td>
				<input class="easyui-textbox" name="address" data-options="multiline:true" style="height: 60px"></input>
			</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>主要联系人:</td>
			<td>
				<input id="primary" type="checkbox" name="isPrimary" value=1>
			</td>
		</tr>
	</table>
</body>
</html>